<!DOCTYPE html>
<html>
<head>
  <title>Rest builder</title>
  <%= stylesheet_link_tag    "rest_builder/application", media: "all" %>
  <%= javascript_include_tag "rest_builder/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
